*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
    
    
}
ul{
    display: flex;
    
}

/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #363636;
    align-items: center;
    padding: 20px 20px;
    
   
}
ul li a{
    padding: 15px 15px;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    
}
ul li button{
    margin: 0px 15px;
   
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: grey;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    
}
ul li button:hover {
    color: black;
    background-color: white;
    border-color: black;
    transition-duration: 0.1s;
}



nav h2{
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}
/* nav bar */

/* main section */

aside{
    width: 300px;
    height: 100vh;
    background-color: black;
    padding-left: 100px;
    transition: .5s;
    /* margin-left: -301px; */
    
}
aside ul li{
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 28px;
    color: white;
    display: block;
    padding: 10px 15px;
    /* margin: 10px 0px; */
    border-bottom: 1px solid gray;
    cursor: pointer;
    transition: .5s;
    
}
aside ul li:hover{
    background: grey;

}
.warper{
    display: flex;
}

.js-sidebar{
    margin-left: -301px;
    transform: scale(0);
    
}
#search{
    position: fixed;
    background-color: #333333ad;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transition: .4s;
    
}
.js_search{
    transform: scale(0);
}
.js_search-2{
    transform: scale(1);
}
#search form{
    width: 40%;
    border: 2px solid grey;
    border-radius: 30px;
    padding: 20px;

}
#search form input{
    width: 90%;
    background: none;
    border: none;
    color: white;
}
#search .search_close{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:none;
    border: 1px solid gray;
    color: white;
    font-size: 18px;
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
}
/* login section */
#login.login_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center; 
    margin: 0 auto;
    
    
}
.login_box{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center; 
    margin: 0 auto;
    
    box-shadow:  12px 12px 33px #949494,
                -12px -12px 33px #ffffff;;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    

}
#login .login_box h2{
    margin-bottom: 30px;
}
#login .login_box input{
    height: 55px;
    padding: 0 50px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid gray;
}
#login .login_box .sing-btn{
    background-color: #4272d7;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .5s;
    cursor: pointer;
    border: none;
}
#login .login_box .sing-btn:hover{
    background-color: #363636;
}
#login .login_box{
    text-align: center;
}
.inp-2{
    position: relative;
}
#login .login_box .i-btn{
    background: none;
    background-color: none;
    position: absolute;
    top: 30px;
    right: 15px;
    border: none;

}
/* login section */



/* main section */
